// ===============
// colors palette
// ===============
:root {
	--poppins: "Poppins", sans-serif;
	--inter: "Inter", sans-serif;
	--roboto: "Roboto", sans-serif;

	--primary: #425466;

	--mainBackgroundColor: #fafafa;
	--secondaryBackgroundColor: #f1f1f1;

	--grayColor: #61646b;
	--grayDarkColor: #313131;

	--whiteColor: #ffff;
	--whiteDarkColor: #e0e0e0;
	--whiteLightColor: #fafafa;

	--formColor: #a5a5a5;
	--yellowColor: #fff5da;

	--blueColor: #392bd3;
	--blueLightColor: #96b0b8;
	--aquamarineColor: #aad2de;

	--greenColor: #0ac05e;
	--hoverGreenColor: #078e46;
	--greenLightColor: #33ea23;

	--redColor: #ff0000;
	--darkRedColor: #202020;
	--redLightColor: #ff4d4a;

	--redCircleColor: #ffe9e9;

	--purpleColor: #b13de1;
	--purpleDarkColor: #9b77ec;
	--purpleLightColor: #f5f7ff;

	--brownColor: #c87c00;

	--numberColor: #d7d7d7;
}
