.hero {
	// .hero__content

	// .hero__title

	&__title {
		transform: translateY(5%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.3s,
			opacity var(--mainTransition) 0.3s;
		._watcher-view & {
			transform: translateY(0);
			opacity: 1;
		}
	}

	// .hero__text

	&__text {
		transform: translateY(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.5s,
			opacity var(--mainTransition) 0.5s;
		._watcher-view & {
			transform: translateY(0);
			opacity: 1;
		}
	}

	// .hero__buttons

	&__buttons {
		transform: translateY(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.7s,
			opacity var(--mainTransition) 0.7s;
		._watcher-view & {
			transform: translateY(0);
			opacity: 1;
		}
	}

	// .hero__image-container

	&__image-container {
	}

	// .hero__video

	&__video {
		transform: translateX(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.5s,
			opacity var(--mainTransition) 0.5s;
		._watcher-view & {
			transform: translateX(0);
			opacity: 1;
		}
	}

	// .hero__experience

	&__experience {
	}

	// .hero__profile

	&__profile {
		transform: translateX(-5%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.6s,
			opacity var(--mainTransition) 0.6s;
		._watcher-view & {
			transform: translateY(0);
			opacity: 1;
		}
	}

	// .hero__image

	&__image {
		transform: translateY(2%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.4s,
			opacity var(--mainTransition) 0.4s;
		._watcher-view & {
			transform: translateX(0);
			opacity: 1;
		}
	}

	// .hero__follower-card

	&__follower-card {
		transform: translateX(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.5s,
			opacity var(--mainTransition) 0.5s;
		._watcher-view & {
			transform: translateX(0);
			opacity: 1;
		}
	}

	// .hero__smiles

	&__smiles {
		transform: translateY(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.7s,
			opacity var(--mainTransition) 0.7s;
		._watcher-view & {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.video {
		// .video__text

		&__text {
		}

		// .video__cirlce

		&__cirlce {
		}
	}

	.experience {
		opacity: 0;
		transition: opacity var(--mainTransition) 0.8s;
		&._watcher-view {
			opacity: 1;
		}
		// .experience__button

		&__button {
		}

		// .experience__content

		&__content {
		}

		// .experience__value

		&__value {
		}

		// .experience__text

		&__text {
		}
	}
	.profile {
		// .profile__avatar

		&__avatar {
		}

		// .profile__top

		&__top {
		}

		// .profile__name

		&__name {
		}

		// .profile__label

		&__label {
		}

		// .profile__growth

		&__growth {
		}

		// .profile__text-growth

		&__text-growth {
		}

		// .profile__value-growth

		&__value-growth {
		}
	}
}

// Переваги

.advantages {
	&__title {
		transform: translateY(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.3s,
			opacity var(--mainTransition) 0.3s;
		&._watcher-view {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.item-advantages {
	opacity: 0;
	transform: translateY(5%);
	transition:
		opacity var(--mainTransition),
		transform var(--mainTransition);

	&._watcher-view {
		opacity: 1;
		transform: translateY(0);
		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				$startDelay: 0.3;
				$delay: $i * 0.15 + $startDelay;
				transition-delay: #{$delay}s;
			}
		}
	}
	// .item-advantages__icon

	&__icon {
	}

	// .item-advantages__title

	&__title {
	}

	// .item-advantages__text

	&__text {
	}
}

// Роботи

.works {
	.item-work {
		&:nth-child(even) .item-work__block {
			transform: translateX(10%);
		}

		&:nth-child(odd) .item-work__block {
			transform: translateX(-10%);
		}

		.item-work__block {
			opacity: 0;
			transition:
				opacity var(--mainTransition),
				transform var(--mainTransition);

			&._watcher-view {
				opacity: 1;
				transform: translateX(0);
				@for $i from 1 through 6 {
					&:nth-child(#{$i}) {
						$startDelay: 0.3;
						$delay: $i * 0.15 + $startDelay;
						transition-delay: #{$delay}s;
					}
				}
			}
		}
	}
}

// Про нас

.about-us {
	&__buttons {
		transform: translateY(20%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.7s,
			opacity var(--mainTransition) 0.7s;
		._watcher-view & {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

// Статистика

.item-statistics {
	opacity: 0;
	&._watcher-view {
		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				$startDelay: 0.3;
				$delay: $i * 0.15 + $startDelay;
				animation: opacity 0.6s ease #{$delay}s forwards;
			}
		}
	}
}

// Відгуки

.testimonials {
	&__slider {
		transform: translateY(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.3s,
			opacity var(--mainTransition) 0.3s;
		&._watcher-view {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

// Контакти

.get-started {
	&__form {
		transform: translateY(10%);
		opacity: 0;
		transition:
			transform var(--mainTransition) 0.3s,
			opacity var(--mainTransition) 0.3s;
		&._watcher-view {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

._anim-title {
	transform: translateY(5%);
	opacity: 0;
	transition:
		transform var(--mainTransition) 0.3s,
		opacity var(--mainTransition) 0.3s;
	&._watcher-view {
		transform: translateY(0);
		opacity: 1;
	}
}

._anim-text {
	transform: translateY(10%);
	opacity: 0;
	transition:
		transform var(--mainTransition) 0.5s,
		opacity var(--mainTransition) 0.5s;
	&._watcher-view {
		transform: translateY(0);
		opacity: 1;
	}
}
