.hero {
	// .hero__container

	&__container {
		position: relative;
		display: grid;
		align-items: center;
		gap: toRem(20);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			row-gap: toRem(40);
		}
	}

	// .hero__content

	&__content {
		display: grid;
		gap: toRem(30);
		@media (max-width: $mobile) {
			justify-content: center;
			text-align: center;
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(15);
		}
	}

	// .hero__title

	&__title {
		color: var(--grayDarkColor);
		@include adaptiveValue("font-size", 94, 50, 0, $containerWidth, 767.98);
		font-weight: 700;
		span {
			color: var(--greenColor);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 70, 40, 0, 767.98, 320);
		}
	}

	// .hero__text

	&__text {
		@include adaptiveValue("font-size", 16, 14, 0, $containerWidth, 767.98);
		@media (min-width: $mobile) {
			max-width: toRem(490);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 18, 14, 0, 767.98, 320);
		}
	}

	// .hero__buttons

	&__buttons {
		display: flex;
		align-items: center;
		gap: toRem(22);
		flex-wrap: wrap;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}

	// .hero__link

	&__link {
		// font-size: vw(18);
		&.button {
			// padding: vw(18.5) vw(33.5);
		}
		&_contact {
			color: var(--greenColor);
		}
	}

	&__image-container {
		position: relative;
		@media (min-width: $mobile) {
			transform: translateY(-2%);
		}
	}

	// .hero__image

	&__image {
		// padding-bottom: 152.347826%;
		padding-bottom: 125.347826%;
	}
	&__follower-card {
		position: absolute;
		bottom: 12%;
		right: 8%;
		width: 43.217391%;
		padding-bottom: 49%;
	}
	&__smiles {
		padding: toRem(20);
		position: absolute;
		left: toRem(-50);
		bottom: 12%;
		background-color: var(--bgTransparentCard);
		backdrop-filter: blur(toRem(5));
		&.smiles {
			column-gap: toRem(22);
			@media (max-width: $tablet) {
				column-gap: toRem(15);
				padding: toRem(15);
			}
			.smiles__smile {
				width: toRem(36);
				height: toRem(36);
				@media (max-width: $tablet) {
					width: toRem(28);
					height: toRem(28);
				}
				@media (max-width: $mobile) {
					// width: toRem(36);
					// height: toRem(36);
				}
				@media (max-width: $mobileSmall) {
					width: toRem(20);
					height: toRem(20);
				}
			}
		}

		@media (max-width: $mobile) {
			// left: 135px;
			@include adaptiveValue("left", 135, 0, 0, 767.98, 320);
		}
	}
	// .hero__profile

	&__profile {
		position: absolute;
		bottom: 26%;
		left: 5%;
		background-color: var(--bgTransparentCard);
		backdrop-filter: blur(toRem(5));
		z-index: 1;
		width: 32.697%;
		@include adaptiveValue("min-height", 218, 150, 0, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			bottom: initial;
			top: 39%;
		}
		@media (max-width: $mobileSmall) {
			min-height: auto;
		}
	}

	.profile {
		font-family: var(--inter);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: toRem(37) toRem(15) toRem(15) toRem(15);
		@media (max-width: $tablet) {
			padding: toRem(20) toRem(15);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(10) toRem(15);
		}
		// .profile__avatar

		&__avatar {
			position: absolute;
			top: toRem(-12);
			right: toRem(-16);
			width: toRem(48);
			height: toRem(48);
			border: toRem(2) solid var(--whiteColor);
			border-radius: 50%;
			img {
				border-radius: inherit;
			}
			@media (max-width: $tablet) {
				width: toRem(30);
				height: toRem(30);
			}
			@media (min-width: $mobileSmall) and (max-width: $mobile) {
				width: toRem(48);
				height: toRem(48);
			}
		}

		// .profile__top

		&__top {
			font-weight: 600;
			line-height: 1.25;
			@include adaptiveValue("font-size", 20, 16, 0, $containerWidth, 767.98);
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
			@media (max-width: $tablet) {
				&:not(:last-child) {
					margin-bottom: toRem(10);
				}
			}
			@media (max-width: $mobileSmall) {
				@include adaptiveValue("font-size", 16, 10, 0, 479.98, 320);
			}
		}

		// .profile__name

		&__name {
		}

		// .profile__label

		&__label {
		}

		// .profile__growth

		&__growth {
			border-radius: toRem(8);
			background-color: var(--growtBgWhiteColor);
			padding: toRem(17) toRem(17) toRem(20) toRem(17);

			@media (max-width: $mobileSmall) {
				padding: toRem(12);
			}
			@media (min-width: $mobileSmall) and (max-width: $mobile) {
				width: 100%;
			}
		}

		// .profile__text-growth

		&__text-growth {
			@include adaptiveValue("font-size", 14, 10, 0, $containerWidth, 767.98);
			font-weight: 500;
			color: var(--grayLightColor);
			&:not(:last-child) {
				margin-bottom: toRem(8);
			}
			@media (max-width: $mobile) {
				@include adaptiveValue("font-size", 14, 10, 0, 767.98, 479.98);
			}
		}

		// .profile__value-growth

		&__value-growth {
			// font-size: toRem(30);
			@include adaptiveValue("font-size", 30, 20, 0, $containerWidth, 767.98);
			font-weight: 700;
			color: var(--redLightColor);
			@media (max-width: $mobile) {
				@include adaptiveValue("font-size", 30, 20, 0, 767.98, 479.98);
			}
		}
	}

	// .hero__experience

	&__experience {
	}

	.experience {
		position: absolute;
		top: 39%;
		right: 35%;
		width: toRem(28);
		height: toRem(28);
		z-index: 3;
		transform: translate(5%, -74%);
		&:hover {
			.experience__content {
				opacity: 1;
				visibility: visible;

				transition:
					opacity 0.3s,
					visibility 0.3s,
					transform 0.3s;
			}
			.experience__text {
				opacity: 1;
				transform: translateX(0);
				transition:
					opacity 0.3s 0.1s,
					transform 0.3s 0.1s;
			}
		}

		@media (max-width: $mobile) {
			top: 42%;
		}

		// .experience__button

		&__button {
			width: toRem(28);
			height: toRem(28);
			border-radius: 50%;
			background-color: var(--whiteColor);
			position: relative;
			z-index: 4;
			&::before {
				content: "";
				position: absolute;
				width: toRem(16);
				height: toRem(16);
				border-radius: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: var(--greenColor);
				@media (max-width: $mobileSmall) {
					width: toRem(12);
					height: toRem(12);
				}
			}
			@media (max-width: $mobileSmall) {
				width: toRem(20);
				height: toRem(20);
			}
		}

		// .experience__content

		&__content {
			position: absolute;
			top: 0;
			left: 0;
			width: toRem(196);
			height: toRem(73);
			display: flex;
			gap: toRem(10);
			align-items: center;
			padding: toRem(20);
			background-color: var(--bgTransparentCard);
			transform: translate(5%, -74%);
			opacity: 0;
			visibility: hidden;
			transition:
				opacity 0.3s 0.7s,
				visibility 0.3s 0.7s;
			@media (max-width: $tablet) {
				padding: toRem(10);
				gap: toRem(5);
			}
		}

		// .experience__value

		&__value {
			color: var(--greenColor);
			font-weight: 500;
			@include adaptiveValue("font-size", 40, 30, 0, $containerWidth, 767.98);
			@media (max-width: $mobile) {
				@include adaptiveValue("font-size", 40, 30, 0, 767.98, 479.98);
			}
		}

		// .experience__text

		&__text {
			font-size: toRem(12);
			line-height: 1.14;
			font-weight: 500;
			color: var(--grayDarkColor);
			opacity: 0;
			transform: translateX(-10%);
			will-change: transform;
			transition:
				transform 0.3s 0.5s,
				opacity 0.3s 0.5s;
			@media (max-width: $tablet) {
				max-width: toRem(100);
			}
			@media (max-width: $mobileSmall) {
				font-size: toRem(10);
				max-width: toRem(50);
			}
		}
	}

	// .hero__video

	&__video {
	}

	.video {
		position: absolute;
		@include adaptiveValue("top", 100, 20, 0, $containerWidth, 767.98);
		@include adaptiveValue("left", -25, -7, 0, $containerWidth, 767.98);
		width: percent(180, 575);
		height: percent(108, 720.75);
		color: var(--greenColor);
		@media (any-hover: hover) {
			&:hover {
				.video__text {
					&::after {
						transform: scale(1);
					}
				}
			}
		}

		@media (max-width: $mobile) {
			left: initial;
			right: 0;
		}

		// .video__text

		&__text {
			width: toRem(108);
			font-weight: 300;
			position: absolute;
			top: 50%;
			@include adaptiveValue("left", 0, -70, 0, $containerWidth, 767.98);
			transform: translateY(-50%);
			z-index: 2;
			padding-top: toRem(10);
			padding-bottom: toRem(10);
			transition: color 0.3s;
			font-size: toRem(18);
			span {
				line-height: 1.2;
				background-color: var(--mainBackgroundColor);
				@media (max-width: $mobileSmall) {
					position: relative;
					top: toRem(2);
				}
			}
			&::after {
				content: "";
				display: block;
				width: 100%;
				background-color: var(--greenColor);
				height: toRem(1);
				transform: scale(0);
				transition: transform 0.3s;
				margin-top: toRem(1);
			}
			@media (max-width: $mobile) {
				left: initial;
				right: toRem(55);
				font-size: toRem(16);
			}
			@media (max-width: $mobileSmall) {
				font-size: toRem(10);
				text-align: right;
				right: toRem(33);
				width: toRem(60);
			}
		}

		// .video__cirlce

		&__cirlce {
			z-index: 1;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: toRem(104);
			height: toRem(104);
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&::before {
					color: var(--greenColor);
					@media (max-width: $mobileSmall) {
						font-size: toRem(8);
					}
				}
			}
			span {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 0;
				border-radius: 50%;
				animation: circleRotate 70s linear infinite;
				background: url("@img/icons/circle.svg") center no-repeat;
				@media (any-hover: hover) {
					&:hover {
						animation-play-state: paused;
					}
				}
			}
			@media (max-width: $mobileSmall) {
				width: toRem(50);
				height: toRem(50);
			}
		}
	}
}

//========================================================================================================================================================

.partners {
	background-color: var(--secondaryBackgroundColor);
	// .partners__container

	&__container {
		padding-top: toRem(84);
		padding-bottom: toRem(84);
		@media (max-width: $mobile) {
			padding-top: toRem(50);
			padding-bottom: toRem(50);
		}
		@media (max-width: $mobileSmall) {
			padding-top: toRem(30);
			padding-bottom: toRem(30);
		}
	}

	// .partners__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .partners__item

	&__item {
		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.about-us {
	// .about-us__container

	&__container {
		display: grid;
		align-items: center;
		position: relative;

		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			row-gap: toRem(30);
		}
	}

	// .about-us__content

	&__content {
		display: grid;
		gap: toRem(30);
		position: relative;
		@media (min-width: $mobile) {
			padding-right: 16%;
			padding-top: toRem(33);
			padding-bottom: toRem(33);
			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: toRem(1);
				background-color: var(--whiteDarkColor);
			}
		}
		@media (max-width: $mobile) {
			gap: toRem(15);
			text-align: center;
		}
	}

	// .about-us__title

	&__title {
	}

	// .about-us__text

	&__text {
		// max-width: toRem(476);
	}

	// .about-us__buttons

	&__buttons {
		display: flex;
		gap: toRem(20);
		@media (min-width: $tablet) {
			align-items: center;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: toRem(15);
		}
	}

	// .about-us__link

	&__link {
		&.button {
			padding: toRem(18.2) toRem(37);
			&_transparent {
				color: var(--greenColor);
				display: flex;
				align-items: center;
				gap: toRem(22);
				padding: toRem(17.4) toRem(17.5);
				i {
					position: relative;
					top: toRem(2);
				}
			}
		}
		&_big-text {
			text-transform: upperase;
		}
	}

	// .about-us__statistics

	&__statistics {
		@media (min-width: $mobile) {
			padding-left: 10.3%;
			max-width: toRem(417);
		}
	}
}

//========================================================================================================================================================

.testimonials {
	// .testimonials__container

	&__container {
		position: relative;
		max-width: toRem(1220);
	}

	// .testimonials__header

	&__header {
		max-width: toRem(644);
		margin: 0 auto;
		text-align: center;
		&:not(:last-child) {
			// margin-bottom: toRem(150);
			@include adaptiveValue("margin-bottom", 150, 70);
		}
	}

	// .testimonials__title

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
			@media (max-width: $mobileSmall) {
				margin-bottom: toRem(15);
			}
		}
	}

	// .testimonials__text

	&__text {
	}

	// .testimonials__body

	&__body {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -12%);

			width: 85.78%;
			// padding-bottom: 85.5%;
			height: 130%;
			background-color: var(--secondaryBackgroundColor);
			z-index: -1;
		}
	}

	// .testimonials__slider

	&__slider {
		// padding-bottom: toRem(100);

		&.swiper {
			overflow: visible;
		}
	}

	// .testimonials__wrapper

	&__wrapper {
	}

	// .testimonials__item

	&__item {
	}

	// .testimonials__navigation

	&__navigation {
		margin-top: toRem(40);
		@media (max-width: $mobileSmall) {
			margin-top: toRem(20);
		}
	}
}

//========================================================================================================================================================

.advantages {
	// .advantages__container

	&__container {
	}

	// .advantages__tilte

	&__tilte {
		text-align: center;
		max-width: toRem(644);
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}
	}

	// .advantages__list

	&__list {
		display: grid;
		@include adaptiveValue("column-gap", 100, 30, 0, $containerWidth, 767.98);
		row-gap: toRem(30);
		@media (min-width: toEm(600)) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: $mobileSmall) {
			row-gap: toRem(15);
		}
	}

	// .advantages__item

	// .advantages__item

	&__item {
	}

	.item-advantages {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		// .item-advantages__icon

		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: toRem(70);
			height: toRem(73);
			img {
				max-width: 100%;
			}
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
			@media (max-width: toEm(600)) {
				&:not(:last-child) {
					margin-bottom: toRem(15);
				}
			}
			@media (max-width: $mobileSmall) {
				width: toRem(50);
				height: toRem(53);
			}
		}

		// .item-advantages__title

		&__title {
			color: var(--darkRedColor);
			text-align: center;
			font-size: toRem(20);
			font-weight: 500;
			max-width: toRem(160);
			line-height: 1.25;
			&:not(:last-child) {
				margin-bottom: toRem(16);
			}
			@media (max-width: toEm(600)) {
				&:not(:last-child) {
					margin-bottom: toRem(8);
				}
			}
			@media (max-width: $mobileSmall) {
				font-size: toRem(18);
			}
		}

		// .item-advantages__text

		&__text {
			max-width: toRem(270);
			@media (min-width: toEm(600)) {
			}
			&.text {
				@media (max-width: toEm(600)) {
					font-size: toRem(14);
				}
			}
		}
	}
}

//========================================================================================================================================================

.works {
	// .works__container

	&__container {
		position: relative;
		max-width: toRem(1060);
	}

	// .works__header

	&__header {
		text-align: center;
		max-width: toRem(594);
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 90, 30);
		}
	}

	// .works__title

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	// .works__text

	&__text {
	}

	// .works__list

	&__list {
		display: grid;
		gap: toRem(150);
		@media (max-width: $mobile) {
			gap: toRem(100);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(80);
		}
	}

	// .works__item

	&__item {
	}
}

.item-work {
	display: grid;
	align-items: center;
	@media (min-width: $mobile) {
		grid-template-columns: repeat(2, 1fr);
		&:nth-child(odd) {
			.item-work__content {
				order: 2;
			}
			.item-work__block {
				order: 1;
			}
		}
		&:nth-child(even) {
			.item-work__content {
				order: 1;
			}
			.item-work__block {
				order: 2;
			}
		}
	}
	@media (max-width: $mobile) {
		text-align: center;
		row-gap: toRem(30);
	}
	@media (max-width: $mobileSmall) {
		row-gap: toRem(15);
	}

	@media (min-width: $mobileSmall) and (max-width: $mobile) {
		justify-items: center;
	}

	// .item-work__content

	&__content {
		@media (min-width: $mobile) {
			max-width: toRem(358);
		}
	}

	// .item-work__tilte

	&__tilte {
		&:not(:last-child) {
			margin-bottom: toRem(25);
			@media (max-width: $mobile) {
				margin-bottom: toRem(15);
			}
			@media (max-width: $mobileSmall) {
				&:not(:last-child) {
					margin-bottom: toRem(8);
				}
			}
		}
		&.title {
			font-size: toRem(24);
			@media (max-width: $mobileSmall) {
				font-size: toRem(20);
			}
		}
	}

	// .item-work__text

	&__text {
	}

	// .item-work__block

	&__block {
		display: flex;
		gap: toRem(20);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 80%;
			height: 80%;
			background-color: var(--redCircleColor);
			border-radius: toRem(300) toRem(300) 0 0;
			z-index: -1;
			transform: translate(7%, 10%) rotate(-180deg);
			@media (max-width: $mobile) {
				left: 50%;
				transform: translate(-50%, 20%) rotate(-180deg);
			}
		}
	}

	// .item-work__number

	&__number {
		color: var(--numberColor);
		font-size: toRem(96);
		font-weight: 700;
		line-height: 1.2;
		@media (max-width: $mobile) {
			display: none;
		}
		&_mobile {
			@media (min-width: $mobile) {
				display: none;
			}

			@media (max-width: $mobile) {
				display: block;
				font-size: toRem(70);
			}
		}
	}

	// .item-work__acoount

	&__acoount {
	}

	&_one {
		@include adaptiveValue("column-gap", 200, 50, 0, $containerWidth, 767.98);
		.item-work__number {
			@media (min-width: $mobile) {
				padding-top: toRem(30);
			}
		}
	}
	&_two {
		.content-block {
			padding-left: toRem(39);
			padding-right: toRem(31);
			padding-bottom: toRem(21);
			&__title {
				&:not(:last-child) {
					margin-bottom: toRem(15);
				}
				&.title {
					font-weight: 400;
				}
			}
			@media (min-width: $mobile) {
				padding-top: toRem(21);
			}
			@media (min-width: $mobileSmall) {
				min-width: toRem(384);
			}
			@media (max-width: $mobileSmall) {
				padding: toRem(20) toRem(15);
			}
		}
		.item-work__block {
			&::before {
				background-color: var(--purpleLightColor);
				height: 122%;
				@media (min-width: $mobile) {
					transform: translate(7%, 20%) rotate(-180deg);
				}
				@media (max-width: $mobile) {
					transform: translate(-50%, 27%) rotate(-180deg);
				}
			}
		}
		.item-work__number {
			@media (min-width: $mobile) {
				transform: translateY(-36%);
			}
		}
	}
	&_three {
		@include adaptiveValue("column-gap", 180, 50, 0, $containerWidth, 767.98);
		.content-block {
			padding-left: toRem(36);
			padding-right: toRem(36);
			@media (max-width: $mobileSmall) {
				padding-left: toRem(10);
				padding-right: toRem(10);
			}
		}
		.item-work__content {
		}
		.item-work__block {
			&::before {
				background-color: var(--yellowColor);
				height: 136%;
				transform: translate(7%, 20%) rotate(-180deg);
				@media (max-width: $mobile) {
					transform: translate(-50%, 28%) rotate(-180deg);
				}
			}
		}
		.item-work__number {
			@media (min-width: $mobile) {
				transform: translateY(-51%);
			}
		}
	}
}

.content-block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: toRem(0.6) solid var(--secondaryBackgroundColor);
	background-color: var(--whiteColor);
	box-shadow:
		0px 39.048px 28.226px 0px rgba(56, 56, 56, 0.08),
		0px 23.206px 15.352px 0px rgba(56, 56, 56, 0.06),
		0px 12.049px 7.832px 0px rgba(56, 56, 56, 0.05),
		0px 4.909px 3.927px 0px rgba(56, 56, 56, 0.04),
		0px 1.116px 1.897px 0px rgba(56, 56, 56, 0.02);
	padding: toRem(35) toRem(15);
	@media (min-width: $mobileSmall) {
		min-width: toRem(325);
	}
	@media (max-width: $mobileSmall) {
		// padding: toRem(15);
	}
	// .create-account__title

	&__title {
		&.title {
			font-size: toRem(26);
			letter-spacing: toRem(-0.2);
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .create-account__lines

	&__lines {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .create-account__line

	&__line {
		background-color: var(--secondaryBackgroundColor);
		border-radius: toRem(65.5);
		height: toRem(10);
		width: 100%;
		display: inline-block;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		&:nth-child(1) {
			width: 80%;
		}
		&:nth-child(2) {
			width: 75%;
		}
		&:nth-child(3) {
			width: 75%;
		}
		&:nth-child(4) {
			width: 80%;
		}
	}

	// .create-account__link

	&__link {
		&.button {
			padding: toRem(11) toRem(27);
			font-size: toRem(10);
		}
	}
	@media (max-width: $mobileSmall) {
		width: 100%;
	}

	&__smiles {
		@media (max-width: $mobileSmall) {
			.smiles__smile {
				width: toRem(40);
				height: toRem(40);
			}
		}
	}
	// .content-block__smiles
}

//========================================================================================================================================================

.get-started {
	background-color: var(--secondaryBackgroundColor);
	// .get-started__container

	&__container {
		position: relative;
		@include adaptiveValue("padding-top", 80, 50);
		@include adaptiveValue("padding-bottom", 160, 50);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 45.929515%;
			height: 52%;
			background: url(../img/decor/decor-form.svg) top / contain no-repeat;
			pointer-events: none;
			z-index: 1;
			transform: translateX(50%);
			@media (max-width: $mobile) {
				opacity: 0.3;
			}
		}
	}

	&__content {
		text-align: center;
		max-width: toRem(620);
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}

	// .get-started__title

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	// .get-started__text

	&__text {
		&.text {
			line-height: 1.6;
		}
		&:not(:last-child) {
			margin-bottom: toRem(68);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	// .get-started__form

	&__form {
		margin: 0 auto;
		max-width: 30.625rem;
	}

	// .get-started__input-wrapper

	&__input-wrapper {
	}

	// .get-started__input

	&__input {
	}

	// .get-started__button

	&__button {
	}
}
