// Ховер з підкресленням
._hover-link {
	transition: color 0.3s;
	&::after {
		content: "";
		display: block;
		width: 100%;
		background-color: var(--greenColor);
		height: toRem(1);
		transform: scale(0);
		transition: transform 0.3s;
		margin-top: toRem(1);
	}
	&._active-link {
		color: var(--greenColor);
		&::after {
			transform: scale(1);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: var(--greenColor);
			&::after {
				transform: scale(1);
				.menu & {
					transform: scale(0);
				}
			}
		}
	}
}
